* {
    font-family: 'Inter', sans-serif;
}
body {
    overflow-x: hidden;
    position: relative;
    margin: 0;
}
a {
    text-decoration: none;
}

/* homepage */
main {
    width: 90%;
    max-width: 980px;
    min-height: 100dvh;
    margin: 0 auto;
}
main .cover {
    aspect-ratio: 4 / 3;
}
main .cover img {
    width: 100%;
}